*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.iml
*.log
.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea/gradle.xml
.idea/tasks.xml
.navigation/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
bin/
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
out/
proguard/
secret.properties
vcs.xml
